<section class="posts_container">
  <h2>Here is user posts</h2>
  <div class="user_card">
    <div class="user_avatar">
      <img src="<%= @user.photo %>" alt="User Avatar">
    </div>

    <div class="user_details">
      <h1><%= @user.name %> </h1>
      <p>Number of posts: <%= @user.posts_counter || 0 %> </p>
    </div>
  </div>
  <div class="bio">
    <h4>Bio</h4>
    <%= @user.bio %>
  </div>
  <%= @user.last_3_posts.each do |post| %>
    <div class="user_card">
      <h4>Post: <%= post.id %></h4>
      <h5><%= post.title %></h5>
    </div>
  <% end %>

  <a href="/users/<%= @user.id%>/posts"><button type="button" >See all posts</button></a>
</section>
